[2022-10-12 15:53] figart opened #36 "Canonical tags on listings"
When a user clicks on a listing card, they should see not only the listing, but also the URL in the browser bar should change (according to the slug). There are two versions (views) of the listing page: _modal_ and _non-modal_.

The _modal_ view is what a user sees when clicking on the listing card from the home page. It preserves the sorting/filtering results on the home page while the user inspe

[2022-10-12 17:05] figart opened #37 "Need to add a status flag to the listing page"
The listing status needs to appear somewhere on the listing page. It appears on the card, but there's no way to know the status of the listing if looking at the page.

[2022-10-12 17:23] figart opened #38 ""View Details" on hero should be linked to listing"
"View Details" on the home page hero...

![Screen Shot 2022-10-12 at 12 21 36 PM](https://user-images.githubusercontent.com/2564452/195408188-ebd5fd35-a84f-46d2-b425-c827583d17d7.png)

should be linked to the non-modal view of the corresponding listing.

[2022-10-12 17:28] figart opened #39 "social icons on listing should be "share" links"
The social icons on the property listing page...

![Screen Shot 2022-10-12 at 10 43 47 AM](https://user-images.githubusercontent.com/2564452/195409025-e6ca8e7b-2b9b-4e08-b6fc-414867229111.png)

Should be "share" icons, facilitating a user's desire to share a listing on social media. Currently the icons are simply links to the client's social media profiles.

[2022-10-12 17:49] figart opened #40 "Listing page visual modification to property summary"
This section of the listing page...

![Screen Shot 2022-10-12 at 12 48 17 PM](https://user-images.githubusercontent.com/2564452/195412981-d4207419-0d10-4852-96a7-e8303df36c85.png)

- Make sure the font weight of county, acreage and price are "regular", or 400 (not 450 which I'm seeing now in inspector).
- Change these around to eliminate the colons (":") and to read like this:

![Screen Shot 2022-

[2022-10-12 20:49] emontes commented on #38
The problem is described in the following page https://github.com/leandrowd/react-responsive-carousel/issues/297

I already have the link working perfectly as seen in these lines.

![image](https://user-images.githubusercontent.com/1318017/195444777-b50d296d-738d-499a-8792-d869352870e9.png)

The problem is that the carousel script blocks them, I've been researching for a long time and I've found a

[2022-10-12 22:38] emontes commented on #38
After hours of research and none of the above working, I found that the conflict is changed by animationHandler="fade" , I removed it and everything worked like a charm (but we lost the cool fade effect).

[2022-10-13 00:23] figart commented on #38
Thanks, Enrique. I think this can work, but we would need to slow down the transition... possible?

[2022-10-13 01:35] emontes commented on #38
Absolutely with this variable transitionTime={3000} I can set the speed in miliseconds.  I left it at 3,000 (3 seconds) let me know if it seems good to you at that speed

[2022-10-13 02:09] emontes commented on #36
What wil be the canonical url?  I mean wil be https://www.texasranchesforsale.com/ ?

[2022-10-13 02:39] emontes commented on #36
Solved, now it's showing the canonical href

![image](https://user-images.githubusercontent.com/1318017/195486148-15cab997-1ec1-475a-95a9-1bec7d497d30.png)

[2022-10-13 02:59] emontes commented on #40
Solved

[2022-10-13 02:59] #40 closed

[2022-10-13 03:30] emontes commented on #39
done

[2022-10-13 03:30] #39 closed

[2022-10-13 15:37] figart commented on #40
excellent, thank you!

[2022-10-13 15:40] figart commented on #39
good!

[2022-10-13 15:46] figart opened #41 "Specify target image for facebook and twitter"
When sharing listings to facebook/twitter, we need appropriate meta data on the page to allow platforms to identify the proper image to use. This would always be the first (main) image of the listing... the same one used on the listing card and the first in the gallery.

[2022-10-13 16:19] emontes commented on #36
Yes there is a way,  and it's done :)

[2022-10-13 22:36] emontes commented on #41
Done,

I changed the entire SEO component in general, it has some additional details that are subtle but will greatly improve SEO performance.

Also in the og:url I put the canonical address, if you look the url is Modal, however the link to share on facebook. It is the "not modal"

![image](https://user-images.githubusercontent.com/1318017/195722864-e736a41e-558a-4276-84c7-5794a3903819.png)

[2022-10-13 22:42] emontes commented on #41
By the way, I am not seeing the latest changes that I have sent reflected in https://trs-development.gtsb.io/

I would need to see in the Gatsby cloud if there is no error when doing the build.

I've been looking at the Gatsby cloud and I only see the main branch. Maybe you have to give me access to the development branch?

[2022-10-13 23:02] figart commented on #41
super interested in the details here, Enrique. can you tell me more?

[2022-10-13 23:05] figart commented on #41
yes, this is ideal, thank you.

[2022-10-13 23:07] figart commented on #41
Noting here that I can't see these changes myself yet... looks like it's not on live (which you basically said yourself).

I'm looking into this now.

[2022-10-13 23:17] figart commented on #41
I'm thinking now that the previous developer wasn't aware that you can change the branch that Gatsby Cloud uses, so he must have set up his own Gatsby Cloud account. I've changed our instance to use the development branch. It's building now... seeing lots of warnings, but no errors yet.

[2022-10-14 01:42] emontes commented on #41
In the SEO changes (hehe, alwayas an interesting topic), you can see the changes in this commit:
https://github.com/digett-trs/trs/commit/877af258dfde94f87e2834a14ce36c1f0df24839

The interesting file changed is /src/components/seo.js.  basically in this part

![image](https://user-images.githubusercontent.com/1318017/195741733-9084878a-5850-4f04-af9b-d28c2e2131f8.png)

In the final product the me

[2022-10-14 02:41] emontes commented on #36
Well after all we can't
[code]

If I use te variable host as window.location....etc it causes error in build time with ssr (Server Side Rendering). So unfortunately we do have to leave it as a fixed value.

[2022-10-14 02:49] emontes commented on #41
I found and fixed the error, I have commented the solution here https://github.com/digett-trs/trs/issues/36#issuecomment-1278396522

For the moment is not the most elegant solution, but tomorrow I will work in a better one.   What is a fact is that we have to have the host name fixed.

By the way our development branch is now being deployed at https://trs.gatsbyjs.io/

I don't know what you think,

[2022-10-14 15:27] figart opened #42 "check "global share" image from site settings"

[2022-10-14 15:28] figart commented on #41
Okay, I agree with you on this so far... these look like improvements to me. Thank you!

[2022-10-14 15:30] figart commented on #41
Yes, this is what I was telling you above where I said:

So I think we're all good here.

I'm not sure what you're referring to specifically here, but I trust you'll take care of it. Should I close out this issue, then?

[2022-10-14 15:31] figart commented on #38
I think this looks good for now... will let client decide in the end whether the speed is ideal. Thank you!

[2022-10-14 15:31] #38 closed

[2022-10-14 15:34] figart commented on #36
Okay, what if we do this, then... can we set this value in Sanity? We could add the value to this doctype and document: https://trs.sanity.studio/production/desk/siteSettings;settings

[2022-10-14 16:21] emontes commented on #36
- can we set this value in Sanity?

I don't think, so, it's better to handle it in the gatsby-config file, however if you do a domain change or something like that, it'll have to be done by a developer.

![image](https://user-images.githubusercontent.com/1318017/195893823-9a4f6766-0b0d-4010-93b1-4fb5f0ede6fe.png)

Here is the section in the gatsby-config, I will add a variable called url (or somet

[2022-10-14 16:37] emontes commented on #41
I have explained it in more detail here https://github.com/digett-trs/trs/issues/36#issuecomment-1279212144

And yes, you can close this issue, I saw that you opened another one specifically for the default image to share, so we can continue there if we need anything.

[2022-10-14 18:10] digget commented on #36
@emontes i think you mentioned the wrong Person

Greetings

[2022-10-18 18:04] figart commented on #36
Ah, yes, I'm totally good with that.

I just grabbed this from the legacy site: Texas Ranches for Sale is a ranch brokerage firm that works with both buyers and sellers using cutting edge technology for marketing and locating South Texas Ranches, Hill Country Ranches, West Texas Ranches and Beyond.

Can we just eliminate that variable? I'm not sure how useful it is.

My apologies... I'd typed this

[2022-10-18 18:05] #41 closed

[2022-10-18 18:08] figart opened #43 "404 error"
When I click on "Wolf Ranch" in the hero carousel I get a 404. I believe that either the link is being formed incorrectly, or that the property is no longer in Sanity (in which case it should not be in the carousel).

[2022-10-18 18:09] figart opened #44 "merging branches"
Any reason that we shouldn't try to merge the development branch with main?

[2022-10-18 18:11] figart opened #45 "remove hero carousel from bottom of home page"
I'm seeing a version of the carousel at the bottom of the home page, above the footer section, which should be removed.

[2022-10-18 18:23] figart opened #46 "adjust agent contact info display"
On the listing page, when the info column narrows the contact info wraps like this:

![Screen Shot 2022-10-18 at 1 18 28 PM](https://user-images.githubusercontent.com/2564452/196512374-36fc4886-cb4e-4531-9938-543cf78e4483.png)

Rather than have the agent name (and email icon) wrap, let's keep them on the one line and have the phone number move to under the agent name when the column content gets b

[2022-10-18 18:32] figart opened #47 "Home page aesthetic adjustments"
There are a number of aesthetic adjustments to the home that I've documented [in Figma](https://www.figma.com/file/swtKdYfwqH9jwlm3Lgw0N7/TRS-Redesign%2FRebuild?node-id=1900%3A2606).

[2022-10-18 18:35] figart opened #48 ""Clear All" button is not resetting filter to default"
The "Clear All" button in the filter area doesn't seem to be resetting all values to default. It seems to only work on price, acreage, and sort by. It _does_ appear to be changing the filter results, but it's not visibly clearing the filter fields.

[2022-10-18 20:24] figart opened #49 "property listings header (label)"
This header (an h2)...

<img width="743" alt="Screen Shot 2022-10-18 at 3 22 27 PM" src="https://user-images.githubusercontent.com/2564452/196536433-59b9098f-7024-4244-be09-76cdad426680.png">

should say "Featured Listings" up until the point that the user modifies filter/sort settings. And it should also change to "Featured Listings" when the "Clear All" button is clicked.

[2022-10-19 00:30] emontes commented on #45
Took a little of research.
As a reference for future cases, the Home page uses a different Layout called "layoutSearch.js" and this is where the behavior of the home page is controlled.

Here we had the following code, in wich the element 1 of array _rawEntities correspond to the carousel, I only had to remove it.

[code]

[2022-10-19 00:43] emontes commented on #49
The label is in line 13 of file componets/sserchResults/index.js (note for Enrique Only)
Question for @figart :
I'm not sure I'm understanding correctly. Do you mean that when the page initially loads the label should be "SEARCH RESULTS" and as soon as the client does a search it should change to "Featured Listings"?
or is only change "SEARCH RESULTS" for "Featured Listings".

Anyway I have change

[2022-10-19 11:26] emontes commented on #48
In the components/searchResults/index.js there is this function
![image](https://user-images.githubusercontent.com/1318017/196676605-487721c9-047d-4b47-8be3-0648d3f48be2.png)

with the refine(items) function it clears Price and Acreage. And with the custom clear it supose to clear County, Sort By, Status and Search for.  That is the part that it's not working.

The custom clear function is as foll

[2022-10-20 14:23] figart opened #50 "partner logos section missing"
The section on the home page featured partner logos that move horizontally across the page is missing.

[2022-10-20 23:05] emontes commented on #36
- Adjusted use of url insed siteMetadata in gatsby-config.js
- Added value to default description
- Removed value for Author in gatsby-config.js

[2022-10-21 10:26] emontes commented on #43
** I am going to use this comment for my personal thoughts, please don't waste your time reading it.

- Viewing this issue I notticed that under "Site Setting" in Sanity the Descriptions is missing, I putted there the description that we are using ing gatsby-config. (for testing purposes).  Note for developer:  Tere is a webhook that launches a buid in Gatsby cloud as soon as you publish a change

[2022-10-21 13:15] emontes commented on #46
** Notes for Developer Only
- Site is using Material UI Framework

[2022-10-21 21:24] emontes commented on #43
I finally found the bug

Here in gatsby-node.js
![image](https://user-images.githubusercontent.com/1318017/197289699-2ae7fc29-5785-45cf-827c-d7986ed8d0c2.png)

We have this filter  filter: { _id: { regex: "/^(?!draft).*$/" } }

Regular Expressions (regexp) are always a very complicated topic. I don't 100% understand what this regex is doing. It is something like the property id does not contain "d

[2022-10-21 23:30] emontes commented on #48
### First semi-solution
I've already gotten it to actually remove the filters when the "clear all" button is pressed. I've also gotten it to clear the "Search For" value.

What I have not been able to achieve is that it cleans the County and Stauts Values (although it does cancel the filters it does not remove the labels).

[2022-10-24 01:50] figart commented on #46
I like what you've done here, @emontes. You good with me closing?

[2022-10-24 01:56] figart commented on #36
@emontes this looks good in modal property view, but I think the non-modal view is _not_ using your siteMetadata in the gatsby config, as it uses a different hostname. Here are the canonical values I found for the same property in modal vs. non-modal view:

- https://trs.gatsbyjs.io/property/sutton-county-l5-ranch-w-of-junction-ranch-for-sale
- https://trs-development.gtsb.io/property/sutton-count

[2022-10-24 02:00] figart commented on #48
Yes, so far so good. Just a note, though: Before any criteria have been selected, or when "Clear All" is clicked, the header underneath should actually say "Featured Properties". It was doing this just fine for a while, but somewhere this functionality got wiped out, it appears.

[2022-10-24 02:06] figart commented on #43
That regex was something that the previous contract came up with. I'm not sure why, though, as his task was to add a new boolean field to the Sanity properties allowing the client to select which properties get featured. I'm actually seeing some evidence of this in Sanity...

![Screen Shot 2022-10-23 at 9 05 19 PM](https://user-images.githubusercontent.com/2564452/197433661-d1d09c51-82a8-4128-8cda

[2022-10-24 02:07] figart commented on #43
Then how are you selecting the properties for the carousel? Which properties get selected... what is the criteria?

[2022-10-24 10:59] emontes commented on #43
At first glance I think it is taking them from Sanity, you have the following structure:
Base / Components / Property Carousel / homepage-property-carousel

I'm not sure because I still can't find the specific part where it does the connectivity. Do you think I'm on the right path? I mean does the client put the properties directly into Sanity (base/components/property Carousel) ?

[2022-10-24 11:26] emontes commented on #48
Thank you very much for that hint, it gives me a very good idea to investigate

[2022-10-24 11:38] emontes commented on #36
I think https://trs-development.gtsb.io/property/sutton-county-l5-ranch-w-of-junction-ranch-for-sale is comming from the old version.  Now we are deploying to  trs.gatsbyjs.io (not to trs-development.gtsb.io)

[2022-10-24 11:40] emontes commented on #46
@figart yes please, close it

[2022-10-24 15:50] digett-trs commented on #36
Okay, maybe I confused myself before... I'm going to leave this one open but reassign to myself so that i can check it again later.

[2022-10-24 15:51] #46 closed

[2022-10-24 15:57] emontes commented on #43
So the data for the carousel is no longer being taken from the subject of "Featured" but is instead being taken directly from "homepage-property-carousel"

![image](https://user-images.githubusercontent.com/1318017/197570838-84fd7af5-261f-4349-a96e-2d086276d3dd.png)

I wanted to make sure that the regexp I removed didn't cause us problems, so yes, it had no reason to be.

[2022-10-24 15:58] figart commented on #50
This may be something we gain from merging back with main branch? Or???

[2022-10-24 16:06] figart commented on #42
@emontes I can't even remember you asking me for this, but hopefully you do. 😆

![Screen Shot 2022-10-24 at 11 03 41 AM](https://user-images.githubusercontent.com/2564452/197572699-68ba6d46-3da7-474d-bd17-8a6f2176beb8.png)

The attached should work as a global sharing image. But I'm wondering... is this something the client could change through Sanity? I think that would be ideal. Maybe accommodat

[2022-10-24 16:16] figart commented on #43
Data should not be coming from a separate Sanity doc type. That's how it was originally, but the client decided that he wanted to use the carousel to feature actual listings. So the requirement is to use a field in Sanity to indicate which properties should be featured in the carousel. Does this make sense? Judging from the screen shot of the error I added in a previous comment, it looks like this

[2022-10-24 19:59] emontes commented on #43
I think I understood the Idea
- Client is requesting a "Fetured" field for displaying the properties in the carousel
- I think currently the carousel is taken from "homepage-property-carousel, if that is the case we need to do it as the client want and add a field "featured" in properties table (I also think that it is the most orthodox thing to avoid duplicating information.)
- At some point the

[2022-10-24 20:03] figart commented on #43
Correct. I wonder if you wouldn't find some clues in the "develop-carousel" branch.

[2022-10-24 20:05] emontes commented on #50
Let me double check, I think I've seen the code for that part in one of my many walkthroughs of the general code.

[2022-10-25 02:42] emontes commented on #43
### Notes for developer
The change for using propertyCarouse as independent Table (schema) was made in this commit
https://github.com/digett-trs/trs/commit/741b090965e1cf58d48bdada0207270e6423d0cf

[2022-10-25 21:32] emontes opened #51 "add featured images to Sanity properties"
In Sanity we added 2 new properties:
- Saline Creek Ranch
- Honew Creek Ranch

Saline Creek Ranch is not been displayed on development, and aparently is making some conflict in build.
[code]

Algolia is saying:
failed to index to Algolia Record at the position 0 objectID=-fbdb1b2a-8fd4-5677-86db-0aeca3a55e0c is too big size=119914/100000 bytes.

After some testings unpublishing and publishing othe

[2022-10-26 10:32] emontes commented on #51
The problem comes from the size of the registry that is allowed by algolia.

Gatsby (GraphQl) is correctly fetching property data.

![image](https://user-images.githubusercontent.com/1318017/198002032-32d06f42-a323-4057-add1-48af06d35b25.png)

The problem comes at the end of the building proccess when Algolia try to make it's index.

Perhaps the problem is the number of pictures in the property.

[2022-10-26 11:50] emontes commented on #43
After all the "draft" regexp is necessary, what was happening with the property not displaying was that it was indeed in draft mode. I have to put it back.

[2022-10-26 14:08] figart commented on #51
Okay, nice work on figuring this out so far. Yeah, unfortunately my client is not going to accept "fewer photos" as an option. I wonder if another idea—although not without significant impact, I'm sure—might be to create a separate field for the first photo... we could call it "featured photo" or something like that. And then we wouldn't have to index the other photos at all? Would that be an opti

[2022-10-26 14:17] figart commented on #43
Okay, good find.

[2022-10-26 14:51] emontes commented on #51
Yes the proposal is to make an aditional "FeaturedPhoto" field  (that was what I meant by "make a new field for the facet").

In this way algolia will only index that photo.   In the long term it will be much better because algolia index size will be significantly reduce and with this we will save lot of costs with algolia (server time, bandwidth, etc).  And I am almost sure that we will also decr

[2022-10-26 15:30] figart commented on #51
Let me just run this by Alexander to see if he agrees. Should be able to talk to him within an hour or so.

[2022-10-26 18:23] figart commented on #51
Alexander also says, "Enrique might need me to add a field to the api with just 1 image as the value. I don't think you can query graphql for the first item in field array."

Does this sound correct to you? If so I'll get Alexander to add it... should be a quick fix. Let me know! :-)

[2022-10-26 20:05] emontes commented on #51
Yes, sounds perfect.  Regarding to add the field I will try to add it from the Sanity studio, also I need  to add a field for the global share image in "Site Settings".

If I run into too many problems or if I see that it is going to take me a long time to do it, then yes I would ask Alex for his help. But I think I can do it, I'm going to try with the Global Share image field first.

[2022-10-26 20:13] figart commented on #51
Aha... I understand that you will need to add the field in Sanity, but that
includes only the Sanity data. Will you not want/need to do the same for
the data coming from Drupal... to be able to select just the cover image?

On Wed, Oct 26, 2022 at 3:05 PM Enrique Adelino Montes Araujo <
***@***.***> wrote:

[2022-10-26 20:33] emontes commented on #51
That is true, it will be necessary to import the covers for all the properties, so yes, please, if Alex can help me with that, that would be perfect.

I already aded the following field to Sanity:
[code]

This propertyFeaturedImage field was actually already added by the previous developer, remember the carousel thing? this was one of the fields he didn't send to Sanity (they stayed on his local c

[2022-10-26 23:48] emontes commented on #42
Now the global image for sharing is displaying (perhaps still not in production for the current error with algolia)

![image](https://user-images.githubusercontent.com/1318017/198159353-9e22a944-eebc-48f2-8cb1-850823a4e7be.png)

The image is comming from Sanity / Site Settings / Global Share Image and the client can change whenever he wants to.

[2022-10-27 00:43] figart opened #52 "Home carousel animation"
If we must use the slide effect, then we need to figure out how to keep it from "rewinding". Is there an "infinite loop" option?

Preference would be to figure out how to make the overlayed links work even in the "fade" mode.

[2022-10-27 08:29] emontes commented on #43
Yes, it can be closed

[2022-10-27 12:24] #43 closed

[2022-10-27 20:03] emontes commented on #51
It's done, now algolia is indexing only the propertyFeaturedImage instead of all property's images.

Btw in the Sanity properties the only one wich has a Featured Image is Wolf Ranch.

[2022-10-27 20:07] figart commented on #51
Congratulations, that's a BIG fix!

Okay, @emontes, sounds like you want me to get those others added... no problem, I'll take care of them.

[2022-10-27 20:07] figart commented on #51
renaming and reassigning this issue to myself

[2022-10-29 15:04] emontes commented on #44
I have merged the development branch in to main. Apparently there was no problem.

Where is the main branch being deployed to?

[2022-10-29 18:46] emontes commented on #50
Ok the problem is in the file layoutSearch.js here
![image](https://user-images.githubusercontent.com/1318017/198847709-e4d7c1e7-2d1f-4a80-a11b-be9f290094ab.png)

we are displaying rawEntities[1] and [2]. Previous the fix we was displaying rawEntities[1] and [0]

Ok this entities comes from Sanity
![image](https://user-images.githubusercontent.com/1318017/198847788-ed775e51-9a3b-4659-8535-a4bbdbf8

[2022-10-30 00:04] emontes opened #53 "Error when filtering by Kendall County"
When we select this county we got the following error

![image](https://user-images.githubusercontent.com/1318017/198856866-b13339f9-7417-4f06-b0c7-f7a877fa4a95.png)

This error is only with this County what makes me think there is an error in one of the properties.

[2022-10-30 01:16] emontes commented on #51
I already put the images in sanity, the hard part is finding the images in the sanity browser, but it's done.

I know you had "self-assigned" this task, but I needed to avoid error messages (of which there are many) to continue fixing the Search Clear issues.

Also you can close this issue

[2022-10-30 18:29] figart commented on #52
Alexander changed to fade out/in w 8-second duration

[2022-10-30 18:29] #52 closed

[2022-10-30 18:36] figart commented on #51
@emontes thanks for adding those images.

I feel like we should move the "property featured image" field up nearer to the top of the add/edit page in Sanity. Could we put it under the "Property Summary" field?

And just a  couple questions here:
- Is there a way to eliminate the errors even when a featured image is empty/null? Can we add error handling to accommodate?
- Are we using the featured i

[2022-10-30 18:42] figart opened #54 "Hero carousel not updating properties when changed in Sanity"
I tried removing "Wolf Ranch" from the homepage-property-carousel in Sanity...

![Screenshot 2022-10-30 at 1 39 33 PM](https://user-images.githubusercontent.com/2564452/198895711-78e6adce-ba36-4f6c-b4f5-23a649c641ba.png)

... but Wolf Ranch still shows in the carousel.

[2022-10-30 18:58] figart commented on #44
To deploy main, I simply had to change the branch within the Gatsby console. I'm pretty sure you have access to do this, too, [here](https://www.gatsbyjs.com/dashboard/9b01b357-c30e-4fbe-9cc2-0624b8673e74/sites/d61d5649-9d2e-49c5-a6e4-38b80bdc46f1/settings/general#site-details).

![Screenshot 2022-10-30 at 1 46 03 PM](https://user-images.githubusercontent.com/2564452/198896073-9d0185d7-753d-4957-8

[2022-10-30 18:58] #44 closed

[2022-10-30 19:00] figart commented on #50
I saw a partners section on the home page before I switched the build configuration in Gatsby Cloud to use the main branch. However, it should go below the property listings, not above.

[2022-10-30 19:05] figart commented on #36
@emontes, am just asking the question here... how much trouble would it be to move this value out of gatsby-config.js and replace with an environment variable? I just don't love the idea of having this buried somewhere in code.

[2022-10-30 19:38] figart opened #55 "Clicking "View More Properties" button repeatedly eventually breaks the page"
If I click the "View More Properties" button enough times the page eventually breaks (white screen). I don't know whether it's simply reaching the end of the list and somehow it's not handled properly (it used to work fine), or maybe there's a specific property that's causing the issue???

[2022-10-30 19:38] figart commented on #53
I noticed that Kendall was not an entry in Sanity and thought maybe that was causing the issue. But even after [I added it](https://trs.sanity.studio/production/desk/propertyAttributes;county;33d48723-6460-4683-abe4-d763f17c63eb), the error still occurred. I noticed that If I choose "Gillespie" first, and then add "Kendall" to the filter, it seems to work (and this was true even before I added "Ke

[2022-10-30 23:59] emontes commented on #36
Yes It's possible, I have already do something similar for the globalSharing image.
[code]
Note: Code taken from
https://github.com/digett-trs/trs/issues/51#issuecomment-1292621600

Solved.
Finally all the Seo data is taken from Sanity, also the title and description.

Aditional question: figart and digett-trs are the same person (Mark)?  No big deal, just curiosity :)

[2022-10-31 00:38] emontes commented on #51
Done

I had already implemented something to avoid crashing when there is no image. In fact, it doesn't display anything.
If you find any errors that I haven't seen, please let me know.

No

[2022-10-31 01:55] figart commented on #50
@emontes I'm not seeing the partners section at https://trs.gatsbyjs.io/. Am I looking in the wrong place?

[2022-10-31 01:57] figart commented on #51
@emontes Looks great, thank you!

[2022-10-31 01:57] #51 closed

[2022-10-31 02:01] figart commented on #36
I'm confused on this one, @emontes. I'm not sure what you've changed. Let's hop on Discord tomorrow and discuss. I'll leave this assigned to me for now.

[2022-10-31 12:45] emontes commented on #50
Sorry, my mistake, I was doing the commits to the development branch. And now the one that are deploying to https://trs.gatsbyjs.io/ is the main branch.

I already did the necessary merge and you can see the latest changes.

[2022-11-01 02:35] emontes opened #57 "Add Photos field to Team Members in Sanity and Display them."
That was already done in the following commit [fb2d3c1](https://github.com/digett-trs/trs/pull/32/commits/fb2d3c1a78f884f03b279646528984f115f21084)

Then Our mission is to take that cnages and integrate it with the development branch.

Also we need to change some field labels as commented here:
https://github.com/digett-trs/trs/pull/32#issuecomment-1297782182

[2022-11-01 04:06] emontes commented on #57
Solved, now the extra pictures are displaying and the Member labels has been changed.

The commands to send structure changes in sanity are:

[code]
(Sorry for being so redundant with this commands but I can't memorize them, and then I leave them for future reference

[2022-11-01 14:36] digett-sim commented on #57
Where should I be looking to see these, @emontes ?

[2022-11-01 14:46] emontes commented on #57
You can see an example here https://trs-development12017.gtsb.io/our-team/ken-hoerster

An the pull request is https://github.com/digett-trs/trs/pull/58

[2022-11-01 16:22] figart commented on #57
How would I know that without asking you, @emontes? In the future would it be possible for you to link the issue and the pull request?

[2022-11-01 16:27] figart commented on #57
Ahh... nevermind... I can see this now in the PR... my bad. Although it _would_ be great if you could link to the PR from the issue as well. Thank you! By the way, this looks great! Closing.

[2022-11-01 16:27] #57 closed

[2022-11-01 16:29] #55 closed

[2022-11-01 16:30] figart commented on #54
The problem was that the development branch had not yet been merged to main.

[2022-11-01 16:30] #54 closed

[2022-11-01 16:33] figart commented on #53
@emontes Would you mind describing what the problem was here? I think we discussed but I can't remember.

[2022-11-01 16:35] figart commented on #50
Okay, looks like we got this working again, only it's going way too fast. I'm not sure how the speed is measured, but if we could make it go about half the speed it's going currently I think it would be just about right.

[2022-11-01 16:37] figart commented on #47
I see you assigned me and added "for review" label, but I'm not sure where I should look or what exactly you need me to review.

[2022-11-01 17:00] figart commented on #42
Looks great!

[2022-11-01 17:00] #42 closed

[2022-11-01 17:30] emontes commented on #53
I was almost sure that I have commented the whole problem,  perhaps I forgot to push the green "comment" button.  Sorry for that.

Well the problem was with some properties (the kind of properties that are not in Sanity).  Some of the has a Gatsby image indexed in algolia, and some of them has direct the url of the picture.

Then the solution to avoid system crashing was to display in a different

[2022-11-01 18:01] emontes commented on #50
The speed here is measured in seconds in the variable --animationspeed, it was in 30 seconds and I've changed it to 50 seconds.

You can see it in https://build-ffbe911b-4f3c-402b-96eb-128d3b8f7663.gtsb.io/

[2022-11-01 18:12] emontes commented on #47
As in another issue where comments were lost, I think the same thing happened in this one (I'm starting to think that I closed a window with several issues in which I hadn't pressed the green "comment" button).

In this case I am following up on the points you pointed out to me in figma.

And here what had to be checked was the behavior of the property details on mobile (that you've already done).

[2022-11-01 18:34] digett-trs commented on #53
Got it, makes sense.  To clarify, though, are we using the gatsby-image plugin for all of the images? And if not, should we be? I'm pretty sure that has some performance advantages.

[2022-11-01 18:39] figart commented on #50
Yes, this looks great, thank you! I'm super curious, though... how did you create this build?

[2022-11-01 19:09] figart commented on #53
@emontes can you give me an example or two of where we are _not_ using it?

[2022-11-01 19:12] emontes commented on #50
![image](https://user-images.githubusercontent.com/1318017/199318216-25f02ce0-e989-4e3b-a0bc-049322ffccf5.png)

If I click in the green checkmark of the "slow down the speed...." commit it shows me Gatsby build service and there I clicked on "Details"

[2022-11-01 19:15] figart commented on #50
Oh my gosh!! That's so cool! I think you may be the first person on my team to discover that, @emontes!! I love it! Thank you!

[2022-11-01 19:16] emontes commented on #50
Do you know the Legend of the Donkey that played the Flute? Hehe, that's what happened to me here.

[2022-11-01 19:18] figart commented on #50
Lol... too funny. Does that mean you're an ass? 😂

[2022-11-01 19:19] emontes commented on #50
jaja, The same thing happened to me as the donkey, it was a mere coincidence

[2022-11-01 19:22] figart commented on #50
simply a case of "good things happen to good people"

[2022-11-01 19:24] emontes commented on #53
For example if you Filter Kendall County,
46 FM 1621 has a direct image (not Gatsby)

[2022-11-01 19:27] figart commented on #53
is there a way for me to see this in the browser using the inspector?

[2022-11-01 19:29] emontes commented on #53
![image](https://user-images.githubusercontent.com/1318017/199321568-f34c311d-64f1-4e9c-92b2-c54961367228.png)
This is inspecting the image of 46 FM, note the <img src ... tag

[2022-11-01 19:31] emontes commented on #53
![image](https://user-images.githubusercontent.com/1318017/199321847-66b2b1e7-cb1e-4aed-9013-71896a89f482.png)
And this is inspecting (on the same page) the Brand RD property, note the <picture tag, that cames from gatsby-image-plugin

[2022-11-01 19:36] figart commented on #53
aha... thank you!

[2022-11-01 19:48] figart commented on #53
Looking at these I'm uncovering some other issues. Will make a couple new issues. They may be trivial, but I can't tell for sure.

[2022-11-01 19:48] #53 closed

[2022-11-01 19:53] figart opened #59 "going from two- to one-column layout causes re-sort"
When I look at listings on desktop at a width that shows either 2 or 3 columns everything looks fine. But if I size the viewport down to force one column (or if I view the site on mobile) the listings get re-sorted. Notice how the L5 ranch (_first_ in 2- or 3-column view) goes down to the _fifth_ position in a single column view.

[2022-11-01 19:54] figart opened #60 "Listing cards have multiple picture tags"
I honestly don't know for sure there's a problem here, but it seems odd that each listing card has two (2) `<picture>` tags. Shouldn't there be only one?

[2022-11-01 21:13] figart commented on #60
I thought it was in all the properties, but looking more closely it looks like it's on all the imported listings. "Alternate 90", for example:

![Screenshot 2022-11-01 at 4 12 01 PM](https://user-images.githubusercontent.com/2564452/199342683-211c04fa-abc5-435c-a25e-a81f9d416198.png)

[2022-11-01 23:56] emontes commented on #60
The first < picture > that you see is for the map-pin image
![image](https://user-images.githubusercontent.com/1318017/199363454-6b3d746b-2280-41e4-bbf9-34f4bdd33c82.png)

You are right, it should be in all properties.

[2022-11-03 19:11] figart commented on #60
Not sure if I understand this. Should we keep this issue open for some reason?

[2022-11-03 19:32] emontes commented on #60
I was telling you that the <picture> tab appears twice in each property because one is used for the map-pin image and the other for the Gatsby Image. So there is no problem that it appears 2 times.

There is no need to keep this ticket open as everything seems to be working fine.

[2022-11-03 19:56] figart commented on #60
Okay, got it, thank you @emontes!

[2022-11-03 19:56] #60 closed

[2022-11-04 19:53] emontes commented on #59
The css for that displaying is in scss/pages/layout.scss

.ais-InfiniteHits-list

for displaying the properties we are using
const CustomInfiniteHits = connectInfiniteHits(InfiniteHits)

In lne 80 of index.js aparently the properties in mobile uses diferent layer not necesary from flex-box rules in .ais-InfiniteHits-list

[2022-11-08 21:02] emontes commented on #59
I'm not so sure now that it's a bug. Rather it is an algolia behavior.

As soon as the Filter Container is opened, it applies the sort defined in
![image](https://user-images.githubusercontent.com/1318017/200624805-683ebfca-ed30-4a62-ba6d-12aebb5fc70c.png)

This is sorted by price descending.

As soon as you close the Filter Container the properties are displayed in their natural order.

The part

[2022-11-08 21:37] figart commented on #59
@emontes, do we need to have Alexander look at this one?

[2022-11-08 23:07] emontes commented on #59
Solved on https://github.com/digett-trs/trs/commit/b2ee330f7934406cf29c5ec16c1acf56b5fdab2b

[2022-11-09 14:47] figart opened #61 "hero text overlay transition not in sync"
Note this screenshot, with the descriptor text overlay appearing (1) over the hero image _and_ (2) below the image.

![Screenshot 2022-11-09 at 8 44 55 AM](https://user-images.githubusercontent.com/2564452/200861416-e0bf96f3-dcac-4ff2-9996-e4202d93f755.png)

The text overlay should disappear at the same time the text appears below the photo.

[2022-11-09 14:57] figart opened #62 "property photos do not advance or reverse with keyboard arrow keys"
When I click on a photo from a listing page, the photo takes over the window and I can go through all photos by clicking the left and right arrow icons. I can also use the arrow keys on the keyboard... BUT, the arrow keys do not work UNTIL I click on one of the arrow icons. The desired behavior is for the user to be able to advance/reverse the photos with the arrow keys immediately after opening a

[2022-11-09 19:43] emontes commented on #61
Fixed on https://github.com/digett-trs/trs/commit/e6b997285b6eae756f8b64c38d9b2e2dad537cb6

[2022-11-09 20:17] figart commented on #48
According to Enrique, operation is clearing, but not the values in the fields.

[2022-11-09 21:46] figart opened #63 "figure out whether we need to add an overlay for "new listing", "price reduced", etc.."

[2022-11-09 21:48] figart commented on #49
@alexander-digett, bottom line here is that while this was working properly at one time here, it's not now. Basically when a user lands on the page, and/or when filter criteria are cleared, the heading should say "Featured Properties". Please let me know if you'd like to discuss.

[2022-11-09 21:54] figart opened #64 "need share buttons in non-modal view"

[2022-11-09 21:56] figart opened #65 "listing share (modal) not picking up main property image"
This seems to be the case for facebook and twitter

[2022-11-09 21:56] figart opened #66 "menu dropdowns are not working"
"about" and "resources"

[2022-11-09 22:13] figart opened #67 "sales rep info positioning fix"
seeing this at some widths:

![Screenshot 2022-11-09 at 4 11 21 PM](https://user-images.githubusercontent.com/2564452/200952927-be5c2b83-160e-49a3-b74a-021ddb27bc9c.png)

Sales rep name and mail icon should always be justified left, phone number should be justified right

[2022-11-09 22:14] #67 closed

[2022-11-09 22:15] figart commented on #47
@alexander-digett, many of these have been taken care of already ([here](https://www.figma.com/file/swtKdYfwqH9jwlm3Lgw0N7/TRS-Redesign%2FRebuild?node-id=1900%3A2606)), but there are a few left. Am going to try to list here:

- modification of the _change filter criteria_ button
- change size of filter slider circles

[2022-11-09 22:16] #61 closed

[2022-11-09 22:16] #59 closed

[2022-11-09 22:25] figart opened #68 "not sure where this red rectangle came from"
![Screenshot 2022-11-09 at 4 24 44 PM](https://user-images.githubusercontent.com/2564452/200955213-3356843d-9aa8-4152-bf3c-d91661bee321.png)

[2022-11-09 23:04] figart commented on #62
oh gawd... already saw the fix..... LOVELY! Thank you, @alexander-digett !!

[2022-11-09 23:04] #62 closed

[2022-11-09 23:09] figart opened #69 "our partners logos section still whacky"
I open the home page and at first logos move fast... then disappear, and _THEN_ when they reappear after several seconds they are going the appropriate speed and looping appropriately.

[2022-11-10 17:06] figart opened #70 "reduce height of property Meta Title field in Sanity"
... maybe to where it shows two lines of text. I feel like it being so deep might lead a user to wonder whether they need to put _more_ content than necessary there

[2022-11-10 17:10] figart opened #71 "Are we using Strapline for anything?"
Check with Ken... if not, we may want to remove it from Sanity

[2022-11-10 17:21] figart opened #73 "property listing page should show all contacts associated with the listing"
Looking at [Colorado Bend River Ranch](https://trs.gatsbyjs.io/property/burnet-county-colorado-bend-river-ranch-nw-burnet-ranch-for-sale?isModal=true). It's showing Griffin, but not Ken. Here it is [in Sanity](https://trs.sanity.studio/production/desk/properties;f3eca23e-a65b-45b4-a4c3-2122b20fb789).

[2022-11-10 17:33] alexander-digett commented on #47
Ready for review.
https://trs-development65648.gtsb.io/

[2022-11-10 17:47] figart opened #74 "Page titles should always end with " | Texas Ranches for Sale""
just like legacy site

[2022-11-10 18:28] figart commented on #69
yes, good, although noticing that Lindner logo is being cut off at top

![Screenshot 2022-11-10 at 12 27 04 PM](https://user-images.githubusercontent.com/2564452/201177040-5a7de4ec-8dfc-47db-8527-d57c327ac742.png)

[2022-11-10 18:29] figart commented on #66
boom!

[2022-11-10 18:29] #66 closed

[2022-11-10 18:29] alexander-digett commented on #73
Ready for review.
https://trs-development65648.gtsb.io/

[2022-11-10 18:31] figart commented on #73
Hmmm... I'm not seeing the agent phone numbers. @alexander-digett

[2022-11-10 18:33] figart commented on #73
okay... _now_ they're showing up... thank you!

[2022-11-10 18:33] #73 closed

[2022-11-10 18:51] alexander-digett commented on #74
Ready for review:
https://trs-development65648.gtsb.io/

[2022-11-10 19:08] figart opened #75 "On mobile when I try to engage with filter section, the section closes as soon as I touch or move it"
This may originate from work Enrique recently did to hide the section with css

[2022-11-10 19:09] figart opened #76 "property cards getting cut off on mobile"
Note right side:

![Selling Quality Ranches Throughout Texas  Texas… png](https://user-images.githubusercontent.com/2564452/201184927-9aeac2df-2e8f-4348-bb85-bb72e3d9d281.png)

[2022-11-10 19:12] figart opened #77 ""EST. 2001" text in header doesn't fit"
![Selling Quality Ranches Throughout Texas  Texas… png](https://user-images.githubusercontent.com/2564452/201185266-b8b5b3a8-6b0a-42bd-8b06-5e082b696cc3.png)

I think we should just tighten it up a bit, reposition... should be fine with a little adjustment.

[2022-11-10 19:14] figart commented on #77
This is mobile, in case it's not obvious...

[2022-11-10 19:15] figart commented on #74
looks good

[2022-11-10 19:15] #74 closed

[2022-11-10 20:46] alexander-digett commented on #68
Ready for review.
https://trs-development65648.gtsb.io/

[2022-11-10 21:25] alexander-digett commented on #77
Ready for review:
https://trs-development65648.gtsb.io/

[2022-11-10 21:49] alexander-digett commented on #76
ready for review:
https://trs-development65648.gtsb.io/

[2022-11-10 23:02] figart commented on #68
looks good!

[2022-11-10 23:02] #68 closed

[2022-11-10 23:09] figart commented on #76
looks good!

[2022-11-10 23:09] #76 closed

[2022-11-10 23:11] alexander-digett commented on #75
Ready for review:
https://trs-development65648.gtsb.io/

[2022-11-10 23:13] figart commented on #75
looks good, thank you!

[2022-11-10 23:13] #75 closed

[2022-11-10 23:14] figart commented on #77
I think the approach you're using could work, @alexander-digett, but I need to see if there's a font match that we can use.

[2022-11-10 23:28] figart commented on #47
- "FEATURED PROPERTIES" header needs to fit on one line on mobile (I think 26px should work on most devices)
- "Change Filter Criteria" needs to fit on same line as icon, and it should fit when you do away with the lines on the left and right per mobile design in Figma.